.exampleOne{
  font-family: 'Droid Serif', serif;
}

.exampleTwo{
  font-family: 'Nunito', sans-serif;
}

.exampleThree{
  font-family: 'Inconsolata', ;
}

.exampleFour{
  font-family: 'Crimson Text', serif;
}

.exampleFive{
  font-family: 'Amatic SC', cursive;
}

.exampleSix{
  font-family: 'Gloria Hallelujah', cursive;
}

.exampleSeven{
  font-family: 'Archivo Black', sans-serif;
}

.exampleEight{
  font-family: 'Bad Script', cursive;
}

.exampleNine{
  font-family: 'Fredericka the Great', cursive;
}
