@media (min-width:1px) and (max-width:1366){
  * {
    box-sizing: border-box;
  }

  // main/public //
  //Home Page
  .pageWrap {
    @include outer-container(100%);
    background-color:#909BA0;
  }

  .public {
    width: 100%;
    background-image: url('https://images.unsplash.com/13/unsplash_5243a2eb2bc02_1.JPG?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=6b87620ca5fc979794d0d600b5dbcac8');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1000px;
  }

  .siteDescription {
    width: 100%;
    font-family: 'Crimson Text', serif;
    position: fixed;
    @include span-columns(8);
    @include shift(1);
    margin-top: 35px;
    padding: 20px;
    color: #fff;
    background: rgba(95, 124, 138, 0.30);
    border: 1px solid rgba(181, 181, 181, 0.30);
    height: 550px;
    margin-left: 0;
    h2 {
      text-align: center;
      font-size: 65px;
    }
  }

  aside {
    @include span-columns(2.15);
    font-family: 'Crimson Text', serif;
    margin: 0;
    background: rgba(68, 89, 99, 0.93);
    height: 1000px;
    border-right: 2px solid rgba(181, 181, 181, 0.47);
    .homeOptions{
      list-style: none;
      margin-top: 14em;
      padding-right:15%;
      text-decoration:none;
      nav {
        @include span-columns(12);
        padding:0;
        position:relative;
        right:2em;
      li{
        @include span-columns(12);
        padding-top:15%;
        a {
          @include span-columns(12);
          font-size:1.4em;
          padding-left:0;
          text-align:center;
        }
      }
    }
  }

  .navOptions{
    color:white;
    text-decoration:none;
  }

  .mega-octicon {
    @include span-columns(12);
    color: #fff;
    font-size:3em;
    text-align:center;
  }
  .homePage {
    @include outer-container;
  }

  .homeScroll {
    @include span-columns(8);
    @include shift(1);
  }

  .login, .register {
    width: 100%;
    @include span-columns(7 of 12);
    @include shift(2);
    margin-top: 32px;
    padding: 10px 0;
    height: 550px;
    border-radius: 2px;
    background: rgba(95, 124, 138, 0.65);
    color: #202020;
    text-align: center;
    input {
      width: 25%;
      opacity: .8;
      height: 30px;
      position: relative;
      display: block;
      margin: 20px auto;
    }
  }

  .faq {
    width: 100%;
    @include span-columns(8 of 12);
    @include shift(1);
    margin-top: 32px;
    padding: 10px 0;
    height: 550px;
    border-radius: 2px;
    background: rgba(95, 124, 138, 0.65);
    color: #202020;
  }

  .faqList {
    list-style-type: none;
    float: left;
    padding: 0;
    margin: 0;
    li {
      padding: 0;
      margin: 0;
    }
  }
  // end main/public //

  // end main/public //

  // moderator dashboard //
  .head {
    opacity: .6;
    font-family: 'Crimson Text', serif;
    font-size: 9px;
    width: 100%;
    height: 5em;
    margin: 0;
    background: #CED7DB;
    color: #202020;
    .logOut{
      @include span-columns(1.3);
      font-size:3em;
      float:left;
    }
    h1 {
      top:0.4em;
      position:relative;
      @include span-columns(12);
      margin: 0 0 0 0;
      @include shift(3.5);
      text-align: center;
      padding: 5px;
      width:20%;
    }
  }

  .appAside{
    float: left;
    padding: 0;
    h2{
      text-align:center;
      color:#909BA0;
      text-shadow: 1px 1px black;
    }
    nav{
      div{
        text-align:center;
        a{
          color:#909BA0;
          text-decoration: none;
        }
      }
    }
  }

  .toolBar {
    @include span-columns(8);
    float:right;
    position:relative;
    bottom:4.5em;

    .options {
      width: 20%;
      font-family: 'Crimson Text', serif;
      font-size: 14px;
      text-decoration: none;
    }

    .options, .tools {
      width: 33.2331%;
      padding-left: 0;
      list-style-type: none;
      text-decoration: none;
      float:right;
      color: black;
      display: inline;
      li {
        text-decoration: none;
        list-style: none;
        display: inline;
        float:left;
        width:40%;
        a{
          width:100%;
          padding:10% 0 0 0;
        }
      }
      li:nth-child(1){
        position:relative;
        left:12px;
        bottom:1px;
        padding:0;
      }
      li:nth-child(2){
        position:relative;
        bottom:1px;
        padding:0;
      }
    }

    .navBG {
      border-left: 5px solid rgba(252, 85, 33, 0.93);
      margin-top: 0;
      margin-bottom: 0;
      padding: 5px 0;
      background:#327FB7;
      height:3em;
      font-size: 1.3em;
      li{
        a{
          font-shadow:1px 1px black;
        }
      }
    }
  }
  .tools{
    padding-top:10%;
  }
  // end moderator dashboard //

  // moderator Create //
  .auctionCreate, .auctionEdit {
    width: 100%;
    @include span-columns(8);
    @include shift(1);
    margin-top: 32px;
    padding: 10px 0;
    height: 450px;
    border-radius: 2px;
    background: rgba(95, 124, 138, 0.65);
    color: #202020;
    input {
      opacity: .8;
      height: 30px;
      position: relative;
      display: block;
      margin: 20px auto;
    }
  }

  .auctionCreateBtn {
    float: right;
    margin: 0 auto;
  }
  .auctionFormLeft{
    @include span-columns(5);
    float: left;
  }

  .auctionFormRight{
    @include span-columns(5);
    float: right;
  }

  .fp__btn:nth-of-type(2) {
    display: none;
  }
  // end moderator Create //

  .editProfile{
    @include span-columns(8 of 12);
    @include shift(1);
    margin-top: 32px;
    padding: 10px 0;
    height: 550px;
    border-radius: 2px;
    background: rgba(95, 124, 138, 0.65);
    color: #202020;
    text-align: center;
    input {
      width: 25%;
      opacity: .8;
      height: 30px;
      position: relative;
      display: block;
      margin: 20px auto;
    }
  }
  $lightred: #fff;
  $red: #FC602F;
  $darkred: #FC602F;
  .faqWrap {
    @include outer-container;
  }


  $lightred: #fff;
  $red: #FC602F;
  $darkred: #FC602F;

  .faqWrap {
    @include outer-container;
  }

  .mainStuff {
    position: fixed;
    margin-top: 35px;
    opacity: .7;
    @include span-columns(7 of 12);
    @include shift(2);
    background: $lightred;
    overflow: hidden;
    .title {
      color: #fff;
      background: #94A7B1;
      text-align: center;
      font-weight: 700;
      line-height: 1.2em;
      padding: 1em;
    }
  }

  .section {
    position: relative;
    width: 100%;
    border-bottom: 5px solid #94A7B1;
    border-left: 3px solid #94A7B1;
    border-right: 3px solid #94A7B1;
    button {
      display: none;
      text-indent: -9999%;
    }
  }

  .open {
    button {
      &:before, &:after {
        height: 14px;
      }
    }
    .articlewrap {
      height: 120px;
    }
  }

  .articlewrap {
    height: 0;
    overflow: hidden;
    transition: all .2s ease-in;
  }

  .sectionhead {
    width: 100%;
    overflow: hidden;
    background: white;
    cursor: pointer;
    font-weight: 700;
    color: #888;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 1em;
    padding-right: 2.1em;
  }

  .article {
    padding: 1em;
    color: #333;
    line-height: 1.3;
  }

  .publicWrap {
    @include outer-container;
    @include shift(2);
    background: #CED7DB;
    opacity: .9;
  }

  .publicView, .publicView2, .publicView3, .publicView4 {
    @include span-columns(9 of 12);
    @include shift(1);
    width: 70%;
    height: 200px;
    margin-top: 30px;
    display: inline-flex;
  }

  .column1, .column4, .column7, .column10 {
    @include span-columns(3)
    width: 30%;
    background: #5F7C8A;
    opacity: .9;
    color: #212121;
    margin-right: 0;
  }

  .column2, .column3, .column5, .column6, .column8, .column9, .column11, .column12 {
    @include span-columns(3)
    @include shift(1);
    width: 30%;
    background: #5F7C8A;
    opacity: .8;
    color: #212121;
    margin-right: 0;
  }
}


}
