@media (min-width:1px) and (max-width:600px){

  main {
    @include span-columns(12);
    margin: 0;
    padding: 0;
    height: 660px;
  }

  .welcomeScreen {
    @include span-columns(12);
    h1 {
      font-size: 36px;
    }
    p {
      padding: 0;
    }
  }

  .pageWrap {
    height: 4250px;
  }

  .login, .register, .faq, .editProfile {
    @include span-columns(12);
    margin: 0;
    padding: 0;
    font-size: 22px;
    input {
      width: 75%;
    }

  }

  .dashboardItem2 {
    height: 100%;
  }

  .siteDescription {
    @include span-columns(10);
    @include shift(2);
    height: 550px;
    margin: 0;
    margin-top: 10px;
    padding: 20px;
    font-size: 16px;
    h2 {
      font-size: 34px;
    }
  }

  aside {

    @include span-columns(12);
    height: 80px;
    margin: 0;
    padding: 0;
    .homeOptions {
      margin-top: 4.5%;
      width:100%;
      display: inline-flex;
      position: relative;
      li {
        @include span-columns(12);
        padding:0;

        a{
          font-size: 1.43em;
        }
      }
    }
  }

  .mega-octicon {
    font-size: 32px;
  }

  .auctionCreate, .auctionEdit {
    width: 100%;
    margin-left: 0;
    padding: 10px 0;
    height: 800px;
    border-radius: 2px;
    border: 1px solid #56646D;
    background: rgba(95, 124, 138, 0.65);
    color: #202020;
    float: none;
    padding: 30px 0;
    box-shadow: -7px -4px 15px -8px #212121;
    input {
      opacity: 10.8;
      height: 40px;
      width: 200px;
      position: relative;
      display: block;
      margin: 10px auto;
    }
  }

  .listItem {
    @include span-columns(12);
    border: 2px groove #5783B9;
    box-shadow: -5px 7px 15px -7px #212121;
    margin-bottom: 15px;
    img {
      height: 200px;
      width: 250px;
      display: flex;
    }
  }


  .divSpace{
    width: 100%;
    background: #677B89;
    height: 5em;
    display:block;
  }
  .auctionCreateItem {
    @include span-columns(12);
    margin-left: 0;
  }

  .itemDescriptionWrap {
    @include outer-container;
    display: block;
  }

  // .itemDescription {
  //   @include span-columns(6);
  //   border-left: 1px solid #D35F32;
  //   h4 {
  //     text-decoration: underline;
  //   }
  // }
  //
  // .itemDescription2 {
  //   @include span-columns(3);
  //   @include shift(3);
  //   border-left: 1px solid #D35F32;
  //   h4 {
  //     text-decoration: underline;
  //   }
  // }

  .individualItemView {
    @include outer-container;
    @include span-columns(9);
    margin-right: 12px;
    border: 1px solid #CBCBCB;
    width: 100%;
    img {
      @include span-columns(6);
      @include shift(3);
      height: 230px;
      width: 50%;
    }
  }

  .individualItemView2 {
    @include outer-container;
    @include span-columns(9);
    margin-right: 12px;
    border: 1px solid #CBCBCB;
    width: 100%;
    img {
      @include span-columns(6);
      @include shift(3);
      height: 230px;
      width: 50%;
    }
  }
}
