* {
  box-sizing: border-box;
}

// main/public //

//Home Page
.pageWrap {
  @include outer-container(100%);
  // @include shift(1);
  // background-color: rgba(182, 182, 182, .2);
  background-image: url('https://images.unsplash.com/photo-1439737567250-e9ea931e97a4?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=6f360f09a234426c238233a742060faa');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.public {
  width: 100%;
  background-image: url('https://images.unsplash.com/13/unsplash_5243a2eb2bc02_1.JPG?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=6b87620ca5fc979794d0d600b5dbcac8');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 1000px;
}


.siteDescription {
  width: 100%;
  font-family: 'Varela Round', sans-serif;
  position: fixed;
  @include span-columns(8);
  margin-top: 35px;
  padding: 20px;
  color: #fff;
  background: rgba(95, 124, 138, 0.30);
  border: 1px solid rgba(181, 181, 181, 0.30);
  height: 550px;
  margin-left: 0;
  h2 {
    font-family: 'Crimson Text', serif;
    text-align: center;
    font-size: 95px;
    margin: 50px;
  }
  p {
    font-size: 30px;
  }
}

aside {
  @include span-columns(2.15);
  font-family: 'Varela Round', sans-serif;
  margin: 0;
  background: rgba(68, 89, 99, 0.93);
  height: 1000px;
  border-right: 2px solid rgba(181, 181, 181, 0.47);
  box-shadow: -7px -4px 15px 7px #212121;
  .homeOptions {
    list-style: none;
    margin-top: 11em;
    padding-left:15%;
    margin-top: 5.5em;
    padding-right:15%;
    text-decoration:none;
    padding: 0;
  }
    nav {
      @include span-columns(12);
      padding:0;
      position:relative;
    }
    li{
      @include span-columns(12);
      padding-top:15%;

      a{
        @include span-columns(12);
        font-size:1.4em;
        padding-left:0;
        text-align:center;
      }
    }
  }


.navOptions{
  color:white;
  text-decoration:none;
  :hover {
    color: black;
    transition: color 0.25s ease;
  }
}
.mega-octicon {
  @include span-columns(12);
  color: #fff;
  font-size:3em;
  text-align:center;
}

.homePage {
  @include outer-container(100%);
}

.homeScroll {
  @include span-columns(8);
  @include shift(1);
}

.login, .register {
  width: 100%;
  @include span-columns(7 of 12);
  @include shift(1);
  margin-top: 32px;
  padding: 10px 0;
  height: 550px;
  border-radius: 2px;
  background: rgba(95, 124, 138, 0.65);
  color: #202020;
  text-align: center;
  input {
    width: 25%;
    opacity: .8;
    height: 30px;
    position: relative;
    display: block;
    margin: 20px auto;
  }
}

.faq {
  width: 100%;
  @include span-columns(8 of 12);
  @include shift(2);
  margin-top: 32px;
  padding: 10px 0;
  height: 650px;
  border-radius: 2px;
  background: rgba(95, 124, 138, 1);
  color: #202020;
  .article {
    height: 500px;
  }
}

.faqList {
  list-style-type: none;
  float: left;
  padding: 0;
  margin: 0;
  li {
    padding: 0;
    margin: 0;
  }
}

// end main/public //

// moderator dashboard //
.dashboardItem {
  @include span-columns(10);
  margin-left: 1.05961%;
  border-left: 1px solid rgba(252, 85, 33, 0.93);
  margin-top: 0.445px;
  // width: 98%;
}

.dashboardItem2 {
  @include span-columns(10);
  margin-left: 1.05961%;
  border-left: 1px solid rgba(252, 85, 33, 0.93);
  margin-top: 0.445px;
  width: 98%;
}

.statusOpen {
  @include span-columns(12);
  margin-bottom: -1.55px;
  display: inline-flex;
  button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   transition: background-color 0.25s ease;
   transition: color 0.25s ease;
   }
   button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
}

.auctionStatusOpen {
   border-top: 1px solid #96d1f8;
   background: #18a138;
   background: -webkit(linear, left top, left bottom, from(#17d479), to(#18a138));
   background: -webkit-linear(top, #17d479, #18a138);
   background: -moz-linear(top, #17d479, #18a138);
   background: -ms-linear(top, #17d479, #18a138);
   background: -o-linear(top, #17d479, #18a138);
   padding: 11.5px 23px;
   border-bottom: none;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 16px;
   font-family: 'Varela Round', sans-serif;
   text-decoration: underline;
   vertical-align: middle;
   width: 34%;
   .auctionStatusOpen:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   transition: color 0.25s ease;
   transition: background-color 0.25s ease;
   .auctionStatusOpen:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
 }
}

.auctionStatusClose {
  border-top: 1px solid #96d1f8;
  background: #ffac54;
  background: -webkit(linear, left top, left bottom, from(#f5e26a), to(#ffac54));
  background: -webkit-linear(top, #f5e26a, #ffac54);
  background: -moz-lineat(top, #f5e26a, #ffac54);
  background: -ms-linear(top, #f5e26a, #ffac54);
  background: -o-linear(top, #f5e26a, #ffac54);
  padding: 11.5px 23px;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  border-bottom: none;
  color: white;
  font-size: 16px;
  font-family: 'Varela Round', sans-serif;
  text-decoration: underline;
  vertical-align: middle;
  width: 34%;
  .auctionStatusClose:hover {
    border-top-color: #28597a;
    background: #28597a;
    color: #ccc;
    transition: color 0.25s ease;
    transition: background-color 0.25s ease;
    .auctionStatusClose:active {
      border-top-color: #1b435e;
      background: #1b435e;
    }
  }
}

.auctionStatusDelete {
  border-top: 1px solid #96d1f8;
  background: #b52d32;
  background: -webkit(linear, left top, left bottom, from(#e33b3b), to(#b52d32));
  background: -webkit-linear(top, #e33b3b, #b52d32);
  background: -moz-linear(top, #e33b3b, #b52d32);
  background: -ms-linear(top, #e33b3b, #b52d32);
  background: -o-linear(top, #e33b3b, #b52d32);
  padding: 11.5px 23px;
  border-bottom: none;
  color: white;
  font-size: 16px;
  font-family: 'Varela Round', sans-serif;
  text-decoration: underline;
  vertical-align: middle;
  width: 34%;
  button:hover {
    border-top-color: #28597a;
    background: #212121;
    color: #ccc;
    transition: color 0.25s ease;
    transition: background-color 0.25s ease;
    button:active {
      border-top-color: #1b435e;
      background: #212121;
    }
  }
}

.itemViewHeader {
  @include span-columns(12);
  background: #677B89;
  border: 2px solid #56646D;
  border-top: none;
  box-shadow: -5px 7px 15px -7px #212121;
  margin-bottom: 10px;
  h3 {
    text-decoration: none;
    font-family: 'Crimson Text', serif;
    color: #fff;
    text-align: center;
    text-decoration: overline;
    font-size: 40px;
    text-shadow: 1px 1.3px #212121;
  }
  a {
    margin: 10px;
    text-decoration: none;
    color: #fff;
    border: 1px solid #54616A;
    font-size: 28px;
    border: 1px solid #212121;
    color: white;
    text-align: center;
    a:hover {
      color: black;
      text-decoration: underline;
      transition: color 0.25s ease;
    }
  }
  button.viewbtns {
    height: 40px;
    width: 50%;
    background: rgba(84, 97, 106, 0.7);
    border: 1px solid #fff;
    a {
      font-family: 'Varela Round', sans-serif;
      text-align: center;
      border: none;
    }
    :hover {
      color: #212121;
      transition: color 0.25s ease;
    }
  }
}

.clipboard {
  display: table-caption;
  button {
    height: 30px;
    width: 191.399999px;
    background: #5783B9;
    border: 1px solid #212121;
    text-shadow: 1px 1.3px #212121;
    border-left: none;
    color: white;
    box-shadow: -5px 7px 15px -7px #212121;
    font-family: 'Varela Round', sans-serif;
  }
  input {
    font-family: 'Varela Round', sans-serif;
  }
}

.head {
  opacity: .95;
  font-family: 'Varela Round', sans-serif;
  font-size: 9px;
  width: 100%;
  height: 5em;
  margin: 0;
  background: #CED7DB;
  color: #202020;
  border-bottom: 1px solid #212121;
  box-shadow: -7px -4px 15px 2.5px #212121;
  .logOut{
    @include span-columns(2.15);
    font-size:2em;
    float:left;
    height: 2.45em;
    }
  h1 {
    font-family: 'Crimson Text', serif;
    font-size: 16px;
    text-decoration: underline;
    top:0.4em;
    position:relative;
    @include span-columns(12);
    margin: 0px;
    padding: 5px;
    width:20%;
    a {
      color: black;
      :hover {
        color: #fff;
        transition: color 0.25s ease;
      }
    }
  }
}

.appAside{
  float: left;
  margin-right: 5em;
  padding: 0;
  h2{
    text-align: center;
    color: #909BA0;
    text-shadow: 1px 1px black;
    border-bottom: 2px groove #5783B9;
    padding: 10px 0;
    margin-top: 0px;
  }
  nav{
    div{
      text-align:center;
      a{
        color:#909BA0;
        text-decoration: underline;
      }
    }
  }
}

.toolBar {
  float:right;
  bottom:4.5em;


  .options {
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
    text-decoration: none;
  }

  .options, .tools {
    padding-left: 0;
    list-style-type: none;
    text-decoration: none;
    float:right;
    color: black;
    display: inline;
    li {
      text-decoration: none;
      list-style: none;
      display: inline;
      float:left;
      width:40%;
      a{
        padding:7% 0 0 0;
      }
    }
    li:nth-child(1){
      position:relative;
      left:12px;
    }
    li:nth-child(2){
      position:relative;
    }
  }

  .navBG {
    width: 20em;
    border-left: 4px solid rgba(252, 85, 33, 0.93);
    margin-top: 0;
    margin-bottom: 0;
    padding: -1px 25px;
    background:#327FB7;
    height:2.44em;
    font-size: 1.3em;
    li{
      a{
        @include span-columns(12)
        font-shadow:1px 1px black;
        width: 140%;
      }
    }
  }
}

.navBG {
  a:hover {
    color: white;
    text-decoration: underline;
    transition: color 0.25s ease;
  }
}

// end moderator dashboard //

// moderator Create //
.auctionCreate, .auctionEdit, {
  width: 100%;
  @include span-columns(9);
  @include shift(2);
  padding: 10px 0;
  height: 720px;
  border-radius: 2px;
  border: 1px solid #56646D;
  background: rgba(95, 124, 138, 0.65);
  color: #202020;
  float: none;
  padding: 30px 0;
  box-shadow: -7px -4px 15px -8px #212121;
  // margin-top: 10px;
  font-family: 'Varela Round', sans-serif;
  input {
    opacity: 10.8;
    height: 25px;
    position: relative;
    display: block;
    margin: 10px auto;
  }
  h1 {
    text-decoration: overline;
    margin-left: 25px;
  }
}

.auctionCreateItem {
  width: 100%;
  @include span-columns(8);
  @include shift(2);
  padding: 10px 0;
  height: 720px;
  border-radius: 2px;
  border: 1px solid #56646D;
  background: rgba(95, 124, 138, 0.65);
  color: #202020;
  float: none;
  padding: 30px 0;
  box-shadow: -7px -4px 15px -8px #212121;
  // margin-top: 10px;
  font-family: 'Varela Round', sans-serif;
  input{
    opacity: 10.8;
    height: 25px;
    position: relative;
    display: block;
    margin: 10px auto;
  }
  h3 {
    margin: 10px auto;
  }
  h1 {
    text-decoration: overline;
    margin-left: 25px;
  }
  .itemDescription {
    text-overflow: inherit;
  }
}

.auctionCreate, .auctionEdit {
  h1 {
    text-align: center;
    margin: 35px;
    text-decoration: overline;
  }
}

.auctionCreate, .auctionEdit {
  h3 {
    margin: 20px;
    font-size: 14px;
    color: #D7D7CD;
  }
}


.auctionCreateBtn {
  float: right;
  margin: 0 auto;
}
.auctionFormLeft{
  border-left: 2px solid rgba(252, 85, 33, 0.93);
}

.auctionFormRight{
  border-left: 2px solid rgba(252, 85, 33, 0.93);
}

.fp__btn:nth-of-type(2) {
  display: none;
}

.itemList {
  @include outer-container;
  padding: 0 20px;
  margin-top: 5px;
}

.listItem {
  @include span-columns(4);
  margin-right: 25px;
  border: 2px groove #5783B9;
  box-shadow: -5px 7px 15px -7px #212121;
  width: 47.76157%;
  background: rgba(139, 148, 160, .8);
  font-family: 'Varela Round', sans-serif;
  h3 {
    text-align: center;
    background: #D1D8DB;
    border: 1px solid;
    color: #fff;
  }
  .itemsDescriptions::after{
    bottom: 0;
    content: "";
    font-weight: bold;
    padding: 0 20px 1px 45px;
    position: absolute;
    right: 0;
    width: 310px;
    background: linear-gradient(to right, transparent, rgb(137, 150, 161));
    height: 23px;
  }

    .itemsDescriptions {
    height: 5.6em;
    line-height: 1.4em;
    overflow: hidden;
    position: relative;
  }

  img {
    height: 225px;
    width: 300px;
    display: flex;
    margin: auto;
    border: 2px solid #5783B9;
    box-shadow: -5px 7px 15px -7px #212121;
  }
  h2 {
    margin: 0 0 5px;
    text-align: center;
    background: #D6D6CC;
    border: 1px solid;
    box-shadow: 5px 3px 15px -6px #212121;
    text-shadow: 1px .5px beige;
  }
  a {
    text-decoration: none;
    font-size: 14px;
    color: #5783B9;
    :hover {
      color: white;
      text-decoration: underline;
      box-shadow: none;
      transition: color 0.25s ease;
    }
  }
}

.individualItemWrap {
  @include span-columns(8);
  margin-right: 25px;
  border: 2px groove #5783B9;
  box-shadow: -5px 7px 15px -7px #212121;
  width: 47.76157%;
  background: #8996A1;
  font-family: 'Varela Round', sans-serif;
  h3 {
    text-align: center;
    background: #D1D8DB;
    border: 1px solid;
    color: #fff;
  }
  span {
    font-size: 14px;
    width: 50%;
  }
  img {
    height: 225px;
    width: 300px;
    display: flex;
    margin: auto;
    border: 2px solid #5783B9;
    box-shadow: -5px 7px 15px -7px #212121;
  }
  h2 {
    margin: 0 0 5px;
    text-align: center;
    background: #D6D6CC;
    border: 1px solid;
    box-shadow: 5px 3px 15px -6px #212121;
  }
  a {
    text-decoration: none;
    font-size: 14px;
    color: #5783B9;
    :hover {
      color: white;
      text-decoration: underline;
      box-shadow: none;
      transition: color 0.25s ease;
    }
  }
}

.individualItemWrap {
  @include span-columns(9);
  margin-left: 1.05961%;
    background: rgba(139, 148, 160, .8);
}

.individualItemView {
  @include span-columns(9);
  margin-right: 12px;
  border: 1px solid #CBCBCB;
  width: 100%;
  img {
    height: 200px;
    width: 250px;
    display: flex;
  }
  h1 {
    margin: 0;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    background: #D1D8DB;
    border: 1px solid;
    color: #fff;
  }
}

.addItems {
  background: #6481B8;
  height: 0px;
  margin: 0px 20px 0px;
  border: 5px solid #D2D7DA;
  a {
    text-decoration: none;
    text-align: center;
    margin: 0 9px;
    color: #fff;
    font-size: 12px;
    a:hover {
      background: #fff;
      color: black;
      border: none;
      transition: color 0.25s ease;
      transition: background-color 0.40s ease;
    }
  }
}

.itemDescriptionWrap {
  @include outer-container;
  display: block;
}

.itemDescription {
  @include span-columns(3);
  @include shift(3);
  border-left: 1px solid #D35F32;
  h4 {
    text-decoration: underline;
  }
}

.itemDescription2 {
  @include span-columns(3);
  @include shift(1);
  border-left: 1px solid #D35F32;
  h4 {
    text-decoration: underline;
  }
}

.bids {
  @include outer-container;
  border: 1px solid #D35F32;
  border-bottom: none;
  margin: 50px 0 25px 0;
  h5 {
    text-align: center;
    font-size: 30px;
    background: #54616B;
    color: #5783B9;
    box-shadow: 0px -4px 15px -7px #D35F32;
    margin: -1px 0px 15px 0px;
  }
}

.bidFeedWrap {
  @include span-columns(6);
  @include shift(3);
  border: 1px solid black;
  margin-bottom: 25px;
  display: inline-flex;
  div {
    border-bottom: 1px solid #fff;
    color: #fff;
    background: rgba(84, 97, 106, 0.7);
    span {
      font-size: 30px;
    }
  }
}
// end moderator Create //

.editProfile  {
  width: 100%;
  @include span-columns(9);
  @include shift(2);
  padding: 10px 0;
  height: 700px;
  border-radius: 2px;
  border: 1px solid #56646D;
  background: rgba(95, 124, 138, 0.65);
  color: #202020;
  float: none;
  padding: 30px 0;
  box-shadow: -7px -4px 15px -8px #212121;
  // margin-top: 10px;
  font-family: 'Varela Round', sans-serif;
  input {
    width: 25%;
    opacity: .8;
    height: 30px;
    position: relative;
    display: block;
    margin: 20px auto;
  }
}

.editProfile {
  h3 {
    text-decoration: overline;
    font-size: 26px;
    margin-bottom: 100px;
  }
  span {
    padding-left: 100px;
  }
  button {
    float: right;
  }
}


$lightred: #fff;
$red: #FC602F;
$darkred: #FC602F;

.faqWrap {
  @include outer-container;
}

.mainStuff {
  position: fixed;
  margin-top: 35px;
  opacity: .85;
  @include span-columns(8 of 12);
  @include shift(2);
  background: $lightred;
  overflow: hidden;
  .title {
    color: #fff;
    background: #94A7B1;
    text-align: center;
    font-weight: 700;
    line-height: 1.2em;
    padding: 1em;
  }
}

.section {
  position: relative;
  width: 100%;
  border-bottom: 5px solid #94A7B1;
  border-left: 3px solid #94A7B1;
  border-right: 3px solid #94A7B1;
  button {
    display: none;
    text-indent: -9999%;
  }
}

.open {
  button {
    &:before, &:after {
      height: 14px;
    }
  }
  .articlewrap {
    height: 150px;
  }
}

.articlewrap {
  height: 0;
  overflow: hidden;
  transition: all .2s ease-in;
}

.sectionhead {
  width: 100%;
  overflow: hidden;
  background: white;
  cursor: pointer;
  font-weight: 700;
  color: #888;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 1em;
  padding-right: 2.1em;
}

.article {
  padding: 1em;
  color: #333;
  line-height: 1.3;
}

.publicWrap {
  @include outer-container;
  @include shift(2);
  background: #CED7DB;
  opacity: .9;
}


.publicView, .publicView2, .publicView3, .publicView4 {
  @include span-columns(9 of 12);
  @include shift(1);
  width: 70%;
  height: 200px;
  margin-top: 30px;
  display: inline-flex;
}

.column1, .column4, .column7, .column10 {
  @include span-columns(3)
  width: 30%;
  background: #5F7C8A;
  opacity: .9;
  color: #212121;
  margin-right: 0;
}

.column2, .column3, .column5, .column6, .column8, .column9, .column11, .column12 {
  @include span-columns(3)
  @include shift(1);
  width: 30%;
  background: #5F7C8A;
  opacity: .8;
  color: #212121;
  margin-right: 0;
}
