@media (min-width:1px) and (max-width:480px){
  main {
    @include outer-container(100%);
    margin: 0;
    padding: 0;
    height: 660px;
  }

  .login, .register, .faq, .editProfile {
    @include span-columns(12);
    margin: 0;
    padding: 0;
    font-size: 22px;
    input {
      width: 75%;
    }

  }

  .article {
    font-size: 12px;
  }

  .articlewrap {
  }

  .open {
    button {
      &:before, &:after {
        height: 14px;
      }
    }
    .articlewrap {
      height: 175px;
    }
  }

  .mainStuff {
    position: relative;
    margin-top: 35px;
    opacity: .7;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%;
    margin-left: 22.05961%;
    background: #fff;
    overflow: hidden;
}

  .homeScroll {
    @include span-columns(8);
    @include shift(1);
  }

  .siteDescription {
    @include span-columns(10);
    @include shift(2);
    height: 400px;
    margin: 0;
    margin-top: 10px;
    padding: 20px;
    font-size: 16px;
    position: relative;
    width: 130%;
    h2 {
      font-size: 20px;
    }
    p {
      font-size: 18px;
    }
  }

  aside {
    @include span-columns(12);
    height:13em;
    nav{
      height:100%;

      .homeOptions {
        @include span-columns(6.5);
        @include shift(2.8);
        display:inline-block;
        margin-top: 2%;
        text-align:center;
        padding:0;
        li {
          width:100%;
          padding-top:1em;
          background-color:#244148;
          margin-top:5%;
          padding:1% 0 1% 0;
          a{
            font-size: 2em;
            padding:0;
          }
        }
      }
    }
  }
  .mega-octicon {
    display:none;
  }


  .toolBar {
    .navBG {
      width: 20.4em;
      border-left: 4px solid rgba(252, 85, 33, 0.93);
      margin-top: 0;
      margin-bottom: 0;
      padding: 5px 0px 0px 68px;
      background: #327FB7;
      height: 2.84em;
      font-size: 1.4em;
    }
  }

  .head {
    .logOut {
      float: left;
      display: block;
      margin-right: 21.05765%;
      width: 49.98143%;
      font-size: 2em;
      float: left;
      height: 2.45em;
    }
  }

  .dashboardItem, .dashboardItem2, .individualItemWrap {
    margin-left: 0;
  }
}
