@media (min-width:1px) and (max-width:960px){
  main {
    @include span-columns(12);
    margin: 0;
    padding: 0;
    height: 660px;
  }

  .welcomeScreen {
    @include span-columns(12);
    margin-top: 0px;
  }

  .listItem {
    width: 47.56157%;
    img {
      height: 235px;
      width: 100%;
    }
    span {
      font-size: 15px;
    }
  }

  .pageWrap {
    height: 1400px;
  }

  .login, .register, .faq, .editProfile {
    @include span-columns(10);
    @include shift(1);
    padding: 0;
    font-size: 22px;
    height: 580px;
    input {
      width: 75%;
    }
  }

  .auctionCreateItem {
    @include span-columns(8);
  }

  .siteDescription {
    @include span-columns(10);
    @include shift(2);
    height: 550px;
    margin: 0;
    margin-top: 10px;
    padding: 20px;
    font-size: 16px;
    h2 {
      font-size: 34px;
    }
  }

  aside {
    @include span-columns(12);
    height: 6em;
    margin: 0;
    padding: 0;
    box-shadow: 3px -9px 10px 7px #212121;
    .homeOptions {
      width:100%;
      display: inline-flex;
      position: relative;
      margin: 1.5% 0 0 0%;
      li {
        @include span-columns(12);
        font-size: 12px;
        padding:0;
        a{
          font-size:1.5em;
        }
      }
    }
  }

  .options{
    margin-right: 73%;
    float: none;
    margin-top: 3.2em;
  } //media queries for options

  @media (max-width:940px){
    .options{
      margin-right: 71%;
    }
  }
  @media (max-width:920px){
    .options{
      margin-right: 69%;
    }
  }
  @media (max-width:900px){
    .options{
      margin-right: 67%;
    }
  }
  @media (max-width:880px){
    .options{
      margin-right: 65%;
    }
  }
  @media (max-width:860px){
    .options{
      margin-right: 63%;
    }
  }
  @media (max-width:840px){
    .options{
      margin-right: 61%;
    }
  }
  @media (max-width:820px){
    .options{
      margin-right: 59%;
    }
  }
  @media (max-width:800px){
    .options{
      margin-right: 57%;
    }
  }
  @media (max-width:780px){
    .options{
      margin-right: 51%;
    }
  }
  @media (max-width:760px){
    .options{
      margin-right: 50%;
    }
  }
  @media (max-width:740px){
    .options{
      margin-right: 47%;
    }
  }
  @media (max-width:720px){
    .options{
      margin-right: 45%;
    }
  }
  @media (max-width:700px){
    .options{
      margin-right: 43%;
    }
  }
  @media (max-width:680px){
    .options{
      margin-right: 41%;
    }
  }
  @media (max-width:660px){
    .options{
      margin-right: 39%;
    }
  }
  @media (max-width:640px){
    .options{
      margin-right: 33%;
    }
  }
  @media (max-width:620px){
    .options{
      margin-right: 31%;
    }
  }
  @media (max-width:600px){
    .options{
      margin-right: 30%;
      margin-top: 1em;
    }
  }
  @media (max-width:580px){
    .options{
      margin-right: 26%;
      margin-top: 1em;
    }
  }
  @media (max-width:560px){
    .options{
      margin-right: 23%;
    }
  }
  @media (max-width:540px){
    .options{
      margin-right: 20%;
    }
  }
  @media (max-width:520px){
    .options{
      margin-right: 18%;
    }
  }
  @media (max-width:500px){
    .options{
      margin-right: 15%;
    }
  }
  @media (max-width:480px){
    .options{
      margin-right: 7%;
      margin-top:0;
    }
  }
  @media (max-width:460px){
    .options{
      margin-right: 5%;
    }
  }
  @media (max-width:440px){
    .options{
      margin-right:3%;
      margin-top:0;

      .navBg{
        width:18em;
      }
    }
  }
  @media (max-width:420px){
    .options{
      margin:0;

      .navBg{
        width:18em;
      }
    }
  }

  @media (max-width:400px){
    .navBg{
      width:17.5em;
    }
  }
  @media (max-width:360px){
    .navBg{
      width:17em;
    }
  }


  .appAside{
    height:100%;
    margin-right: 5em;
    width: 100%;
    box-shadow: 0px 0px 28px 18px #445359 inset;

    h2{
      font-size:2.5em;
      text-align:center;
      color:white;
      text-shadow: 1px 1px black;
    }
    nav{
      float:none;
      margin-bottom: 0.3%;
      div{
        text-align:center;
        margin-bottom:2%;
        a{
          color:white;
          text-decoration: none;
          font-size:2em;
        }
      }
    }
    .arrow {
      width:0;
      height:0em;
      border-left: 6em solid transparent;
      border-right: 6em solid transparent;
      border-bottom: 2em solid #445359;
      margin-left: 39.9%;
    }
    //Scaling for both of the arrow class
    @media (max-width:940px){
      .arrow{
        margin-left: 39.8%;
      }
    }
    @media (max-width:920px){
      .arrow{
        margin-left: 39.6%;
      }
    }
    @media (max-width: 900px) {
      .arrow{
        margin-left: 39.4%;
      }
    }
    @media (max-width: 880px) {
      .arrow{
        margin-left:39.1%;
      }
    }
    @media (max-width: 860px) {
      .arrow{
        margin-left: 38.8%;
      }
    }

    @media (max-width: 840px) {
      .arrow{
        margin-left:38.5%;
      }
    }
    @media (max-width: 820px) {
      .arrow{
        margin-left:38.2%;
      }
    }
    @media (max-width: 800px) {
      .arrow{
        margin-left: 37.9%;
      }
    }
    @media (max-width: 780px) {
      .arrow{
        margin-left: 37.5%;
      }
    }
    @media (max-width: 760px) {
      .arrow{
        margin-left: 37.2%;
      }
    }
    @media (max-width: 740px) {
      .arrow{
        margin-left: 36.9%;
      }
    }
    @media (max-width: 720px) {
      .arrow{
        margin-left: 36.6%;
      }
    }
    @media (max-width: 700px) {
      .arrow{
        margin-left: 36.3%;
      }
    }
    @media (max-width: 680px) {
      .arrow{
        margin-left: 36%;
      }
    }
    @media (max-width: 660px) {
      .arrow{
        margin-left: 35.5%;
      }
    }
    @media (max-width: 640px) {
      .arrow{
        margin-left: 35%;
      }
    }
    @media (max-width: 620px) {
      .arrow{
        margin-left: 34.5%;
      }
    }
    @media (max-width: 600px ) {
      .arrow{
        margin-left: 34%;
      }
    }
    @media (max-width: 580px) {
      .arrow{
        margin-left: 33.5%;
      }
    }
    @media (max-width: 560px) {
      .arrow{
        margin-left: 33%;
      }
    }
    @media (max-width: 540px) {
      .arrow{
        margin-left: 32.2%;
      }
    }
    @media (max-width: 520px) {
      .arrow{
        margin-left: 31.6%;
      }
    }
    @media (max-width: 500px) {
      .arrow{
        margin-left: 30.8%;
      }
    }
    @media (max-width: 480px) {
      .arrow{
        margin-left: 30%;
      }
    }
    @media (max-width: 460px) {
      .arrow{
        margin-left: 29.2%;
      }
    }
    @media (max-width: 440px) {
      .arrow{
        margin-left: 28.4%;
      }
    }
    @media (max-width: 420px) {
      .arrow{
        margin-left: 27.6%;
      }
    }
    @media (max-width: 400px) {
      .arrow{
        margin-left: 26%;
      }
    }
    @media (max-width: 380px) {
      .arrow{
        margin-left: 25%;
      }
    }
    @media (max-width: 360px) {
      .arrow{
        margin-left: 23.7%;
      }
    }
    @media (max-width: 340px) {
      .arrow{
        margin-left: 21.5%;
      }
    }
    @media (max-width: 320px) {
      .arrow{
        margin-left:19.8%;
      }
    }
  }
  .noAside{
    width: 101%;
    padding: 0;
    height: 0.6em;

  .arrowDown{
    width: 0;;
    height: 0;
    border-left: 6.5em solid transparent;
    border-right: 6.5em solid transparent;
    border-top: 2.5em solid #445359;
    left: 23.5em;
    position:relative;

    span{
      color:white;
      position:relative;
      right: 1.555em;
      bottom: 2.2em;
    }
  }

  //Scaling for both of the arrow class
  @media (max-width:940px){
    .arrowDown{
      left: 22.3em;
    }
  }
  @media (max-width: 920px) {
    .arrowDown{
      left: 22.3em;
    }
  }
  @media (max-width: 900px) {
    .arrowDown{
      left: 21.8em;
    }
  }
  @media (max-width: 880px) {
    .arrowDown{
      left: 20.9em;
    }
  }
  @media (max-width: 860px) {
    .arrowDown{
      left: 20.1em;
    }
  }

  @media (max-width: 840px) {
    .arrowDown{
      left: 19.4em;
    }
  }
  @media (max-width: 820px) {
    .arrowDown{
      left: 18.9em;
    }
  }
  @media (max-width: 800px) {
    .arrowDown{
      left: 18.3em;
    }
  }
  @media (max-width: 780px) {
    .listItem {
    margin-right: 15.7px;
    }


    .arrowDown{
      left: 17.7em;
    }
  }
  @media (max-width: 760px) {
    .arrowDown{
      left: 17.1em;
    }
  }
  @media (max-width: 740px) {
    .arrowDown{
      left: 16.4em;
    }
  }
  @media (max-width: 720px) {
    .arrowDown{
      left: 15.7em;
    }
  }
  @media (max-width: 700px) {
    .arrowDown{
      left: 15.1em;
    }
  }
  @media (max-width: 680px) {
    .arrowDown{
      left: 14.6em;
    }
  }
  @media (max-width: 660px) {
    .arrowDown{
      left: 13.9em;
    }
  }
  @media (max-width: 640px) {
    .arrowDown{
      left: 13.2em;
    }
  }
  @media (max-width: 620px) {
    .arrowDown{
      left: 12.6em;
    }
  }
  @media (max-width: 600px ) {
    .arrowDown{
      left: 12em;
    }
  }
  @media (max-width: 580px) {
    .arrowDown{
      left: 11em;
    }
  }
  @media (max-width: 560px) {
    .arrowDown{
      left: 10em;
    }
  }
  @media (max-width: 540px) {
    .arrowDown{
      left: 9.5em;
    }
  }
  @media (max-width: 520px) {
    .arrowDown{
      left: 9em;
    }
  }
  @media (max-width: 500px) {
    .arrowDown{
      left: 8.5em;
    }
  }
  @media (max-width: 480px) {
    .arrowDown{
      left: 8em;
    }
  }
  @media (max-width: 460px) {
    .arrowDown{
      left: 7.5em;
    }
  }
  @media (max-width: 440px) {
    .arrowDown{
      left: 7em;
    }
  }
  @media (max-width: 420px) {
    .arrowDown{
      left: 6.5em;
    }
  }
  @media (max-width: 400px) {
    .arrowDown{
      left: 6em;
    }
  }
  @media (max-width: 380px) {
    .arrowDown{
      left: 5.5em;
    }
  }
  @media (max-width: 360px) {
    .arrowDown{
      left: 5em;
    }
  }
  @media (max-width: 340px) {
    .arrowDown{
      left: 4.5em;
    }
  }
  @media (max-width: 320px) {
    .arrowDown{
      left: 4em;
    }
  }
}
.divSpace{
  width: 100%;
  background: #677B89;
  height: 3em;
}


  .dashboardItem {
    @include span-columns(12);
    border-left: 1px solid rgba(252, 85, 33, 0.93);
    margin-top: 0.445px;
  }

  .dashboardItem2 {
    height: 1027px;
  }

  .itemViewHeader {
    @include span-columns(12);
    background: #677B89;
    border: 2px solid #56646D;
    border-top: none;
    h3 {
      text-decoration: none;
      font-family: 'Crimson Text', serif;
      color: #fff;
      text-align: center;
      text-decoration: overline;
      font-size: 30px;
    }
    a {
      text-decoration: none;
      color: #fff;
      border: 1px solid #54616A;
      font-size: 18px;
    }
  }

  .auctionCreate, .auctionEdit {
    width: 100%;
    @include span-columns(8);
    @include shift(2);
    padding: 10px 0;
    height: 800px;
    border-radius: 2px;
    border: 1px solid #56646D;
    background: rgba(95, 124, 138, 0.65);
    color: #202020;
    float: none;
    padding: 30px 0;
    box-shadow: -7px -4px 15px -8px #212121;
    input {
      opacity: 10.8;
      height: 40px;
      width: 350px;
      position: relative;
      display: block;
      margin: 10px auto;
    }
  }

  .auctionCreateItem {
    @include span-columns(12);
    margin-left: 0;
    height:580;
  }

  .individualItemWrap{
    @include span-columns(12);
    margin-left: 0;
  }


  .bidFeedWrap {
    @include span-columns(12);
    margin-left: 0;
    border: 1px solid black;
    margin-bottom: 25px;
    display: inline-flex;
    div {
      border-bottom: 1px solid #fff;
      color: #fff;
      background: rgba(84, 97, 106, 0.7);
      span {
        font-size: 30px;
      }
    }

  }
  .mainStuff{
    margin-left:27%;
  }
}
