@import '../../dist/bower_components/bourbon/app/assets/stylesheets/_bourbon.scss';
// $visual-grid:true;
@import '../../dist/bower_components/neat/app/assets/stylesheets/_neat.scss';

$mobile: new-breakpoint(max-width 768px);
$desktop: new-breakpoint(min-width 850px);

* {
  box-sizing: border-box;
}

// main/public //
.pageWrap {
  @include outer-container;
  max-width: 100%;
}

.public {
  width: 100%;
  background-image: url('https://images.unsplash.com/13/unsplash_5243a2eb2bc02_1.JPG?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=6b87620ca5fc979794d0d600b5dbcac8');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 1000px;
}


.siteDescription {
  width: 100%;
  font-family: 'Varela Round', sans-serif;
  position: fixed;
  @include span-columns(8);
  @include shift(1);
  margin-top: 35px;
  padding: 20px;
  color: #fff;
  background: rgba(95, 124, 138, 0.30);
  border: 1px solid rgba(181, 181, 181, 0.30);
  height: 550px;
  margin-left: 0;
  h2 {
    text-align: center;
    font-size: 65px;
  }
}

aside {
  @include outer-container;
  width: 190px;
  font-family: 'Varela Round', sans-serif;
  float: left;
  margin: 0;
  background: rgba(68, 89, 99, 0.93);
  height: 1000px;
  border-right: 2px solid rgba(181, 181, 181, 0.47);
  nav {
    display: block;
    .navOptions {
      text-decoration: none;
      color: #fff;
    }
  }
}

.homePage {
  @include outer-container;
}

.homeScroll {
  @include span-columns(8);
  @include shift(1);
}

.login, .register {
  position: fixed;
  width: 100%;
  @include span-columns(7 of 12);
  @include shift(2);
  margin-top: 32px;
  padding: 10px 0;
  height: 550px;
  border-radius: 2px;
  background: rgba(95, 124, 138, 0.65);
  color: #202020;
  text-align: center;
  input {
    width: 25%;
    opacity: .8;
    height: 30px;
    position: relative;
    display: block;
    margin: 20px auto;
  }
}

.faq {
  width: 100%;
  @include span-columns(8 of 12);
  @include shift(1);
  margin-top: 32px;
  padding: 10px 0;
  height: 550px;
  border-radius: 2px;
  background: rgba(95, 124, 138, 0.65);
  color: #202020;
}

.faqList {
  list-style-type: none;
  float: left;
  padding: 0;
  margin: 0;
  li {
    padding: 0;
    margin: 0;
  }
}
// end main/public //

// moderator dashboard //
.head {
  opacity: .6;
  position: fixed;
  font-family: 'Varela Round', sans-serif;
  font-size: 9px;
  width: 100%;
  height: 30px;
  margin: 0;
  background: #CED7DB;
  color: #202020;
  h1 {
    margin: 0 10px;
    text-align: center;
    padding: 5px;
  }
}

.toolBar {
  @include outer-container;
  margin-bottom: 30px;
}

.options {
  width: 20%;
  @include span-columns(4);
  @include shift(8);
  font-family: 'Varela Round', sans-serif;
  font-size: 12px;
  text-decoration: none;
  position: fixed;
  float: right;
}

.options, .tools {
  padding-left: 0;
  list-style-type: none;
  text-decoration: none;
  color: black;
  display: inline;
  li {
    padding: 10px 25px;
    text-decoration: none;
    list-style: none;
    display: inline;
  }
}

.navBG {
  border-left: 5px solid rgba(252, 85, 33, 0.93);
  margin-top: 0;
  margin-left: 48PX;
  margin-bottom: 0;
  padding: 5px 0;
  background:#327FB7;
  height: 30px;
}
// end moderator dashboard //

// moderator Create //
.auctionCreate, .auctionEdit {
  width: 100%;
  @include span-columns(8);
  @include shift(1);
  margin-top: 32px;
  padding: 10px 0;
  height: 450px;
  border-radius: 2px;
  background: rgba(95, 124, 138, 0.65);
  color: #202020;
  input {
    opacity: .8;
    height: 30px;
    position: relative;
    display: block;
    margin: 20px auto;
  }
}

.auctionCreateBtn {
  float: right;
  margin: 0 auto;
}
.auctionFormLeft{
  @include span-columns(5);
  float: left;
}

.auctionFormRight{
  @include span-columns(5);
  float: right;
}

.fp__btn:nth-of-type(2) {
  display: none;
}
// end moderator Create //

.editProfile{
  @include span-columns(8 of 12);
  @include shift(1);
  margin-top: 32px;
  padding: 10px 0;
  height: 550px;
  border-radius: 2px;
  background: rgba(95, 124, 138, 0.65);
  color: #202020;
  text-align: center;
  input {
    width: 25%;
    opacity: .8;
    height: 30px;
    position: relative;
    display: block;
    margin: 20px auto;
  }
}





// mobile //
main {
  @include media($mobile) {
  @include span-columns(12);
  margin: 0;
  padding: 0;
  height: 660px;
  }
}



.login, .register, .faq, .editProfile {
  @include media($mobile) {
  @include span-columns(12);
  margin: 0;
  padding: 0;
  font-size: 22px;
  input {
    width: 75%;
    }
  }
}

.siteDescription {
  @include media($mobile) {
  @include span-columns(10);
  @include shift(2);
  height: 550px;
  margin: 0;
  margin-top: 10px;
  padding: 20px;
  font-size: 16px;
  h2 {
      font-size: 34px;
    }
  }
}

aside {
  @include media($mobile) {
  @include span-columns(12);
  height: 60px;
  margin: 0;
  padding: 0;
  }
}
// end mobile //

$lightred: #fff;
$red: #FC602F;
$darkred: #FC602F;

.faqWrap {
  @include outer-container;
}

.mainStuff {
  position: fixed;
  margin-top: 35px;
  opacity: .7;
  @include span-columns(7 of 12);
  @include shift(2);
  background: $lightred;
  overflow: hidden;
  .title {
    color: #fff;
    background: #94A7B1;
    text-align: center;
    font-weight: 700;
    line-height: 1.2em;
    padding: 1em;
  }
}

.section {
  position: relative;
  width: 100%;
  border-bottom: 5px solid #94A7B1;
  border-left: 3px solid #94A7B1;
  border-right: 3px solid #94A7B1;
  button {
    display: none;
    text-indent: -9999%;
  }
}

.open {
  button {
    &:before, &:after {
      height: 14px;
    }
  }
  .articlewrap {
    height: 120px;
  }
}

.articlewrap {
  height: 0;
  overflow: hidden;
  transition: all .2s ease-in;
}

.sectionhead {
  width: 100%;
  overflow: hidden;
  background: white;
  cursor: pointer;
  font-weight: 700;
  color: #888;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 1em;
  padding-right: 2.1em;
}

.article {
  padding: 1em;
  color: #333;
  line-height: 1.3;
}

.publicWrap {
  @include outer-container;
  @include shift(2);
  background: #CED7DB;
  opacity: .9;
}


.publicView, .publicView2, .publicView3, .publicView4 {
  @include span-columns(9 of 12);
  @include shift(1);
  width: 70%;
  height: 200px;
  margin-top: 30px;
  display: inline-flex;
}

.column1, .column4, .column7, .column10 {
  @include span-columns(3)
  width: 30%;
  background: #5F7C8A;
  opacity: .9;
  color: #212121;
  margin-right: 0;
}

.column2, .column3, .column5, .column6, .column8, .column9, .column11, .column12 {
  @include span-columns(3)
  @include shift(1);
  width: 30%;
  background: #5F7C8A;
  opacity: .8;
  color: #212121;
  margin-right: 0;
}
