@import '../../dist/bower_components/bourbon/app/assets/stylesheets/_bourbon.scss';
$visual-grid:true;
@import '../../dist/bower_components/neat/app/assets/stylesheets/_neat.scss';

$mobile: new-breakpoint(max-width 768px);
$desktop: new-breakpoint(min-width 850px);

* {
  box-sizing: border-box;
}

// main/public //
.pageWrap {
  @include outer-container;
  width: 100%;
}

.homePage {
  background-image: url('https://raw.githubusercontent.com/jacksaintjack/silentAuction/master/src/assets/pictures/NABHM0L1AB.jpg');
}

.siteDescription {
  font-family: 'Varela Round', sans-serif;
  @include span-columns(9);
  @include shift(1);
  padding: 10px;
  color: #ffffff;
  background: rgba(95, 124, 138, 0.30);
  border: 1px solid rgba(181, 181, 181, 0.30);
  height: 550px;
  h2 {
    text-align: center;
    font-size: 65px;
  }
}

aside {
  @include outer-container;
  @include span-columns(2);
  float: left;
  position: relative;
  margin: 0;
  background: rgba(243, 66, 53, 0.93);
  height: 1000px;
  border-right: 2px solid rgba(181, 181, 181, 0.47);
  nav {
    display: block;
  }
}

.login, .register, .faq {
  width: 100%;
  @include span-columns(9);
  @include shift(1);
  margin-top: 32px;
  padding: 10px 0;
  height: 550px;
  border-radius: 2px;
  background: rgba(95, 124, 138, 0.65);
  color: #202020;
  text-align: center;
  input {
    opacity: .8;
    height: 30px;
    position: relative;
    display: block;
    margin: 20px auto;
  }
}
// end main/public //

// moderator dashboard //
header {
  width: 100%;
  margin: 0;
  background: #CED7DB;
  color: #202020;
  h1 {
    margin: 0;
    text-align: center;
  }
}

.options {
  float: right;
  nav {
    text-decoration: none;
  }
}
// end moderator dashboard //

// moderator Create //
.auctionCreate {
  width: 100%;
  @include span-columns(9);
  @include shift(1);
  margin-top: 32px;
  padding: 10px 0;
  height: 450px;
  border-radius: 2px;
  background: rgba(95, 124, 138, 0.65);
  color: #202020;
  input {
    opacity: .8;
    height: 30px;
    position: relative;
    display: block;
    margin: 20px auto;
  }
}

.auctionCreateBtn {
  float: right;
  margin: 0 auto;
}
.auctionFormLeft{
  @include span-columns(5);
  float: left;
}

.auctionFormRight{
  @include span-columns(5);
  float: right;
}
// end moderator Create //


// mobile //
.login, .register, .faq {
  @include media($mobile) {
  @include span-columns(12);
  margin: 0;
  padding: 0;
  font-size: 22px;
  }
}

aside {
  @include media($mobile) {
  @include span-columns(12);
  height: 40px;
  margin: 0;
  padding: 0;
  }
}
// end mobile //
